h1 {
  font-size: 2rem;
  background-color: white;
  text-align: center;

}

button {
  color: black;
  background-color: white;
  font-size: 2rem;
  border-radius: 10%;
}

div {
  text-align: center;
}

#hoodbutton {
  padding-top: 4rem;
}

#underHood {
  display: none;
}


p {
  font-size: 2rem;
  display: block;
  text-align: center;
  background: white;
}
